@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Main heading for the film collection -->
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <!-- Image of Joel Hilton with specified width -->
    <img src="headshot.jpg" alt="Joel Hilton Headshot" width="600">
</div>

<br/>
<br/>
<div>
    <a asp-controller="Home" asp-action="MovieList">View Movie List</a>
</div>