@{
    ViewData["Title"] = "Get to Know Joel";
}
<!-- Display the page title stored in ViewData -->
<h1>@ViewData["Title"]</h1>

<ul>
    <!-- Link to the Quick Wits Comedy website where he performs -->
    <li>Go to <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy website</a> where he performs regularly.</li>
    <!-- Link to the Baconsale website where he finds his favorites -->
    <li>Go to <a href="https://baconsale.com/" target="_blank">Baconsale website</a> where he finds his favorites.</li>
    <!-- Clickable image linking to the Baconsale website -->
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/BaconsaleKate.jpg" alt="Baconsale Kate" width="600"></a>
</ul>



